{% extends "base.html" %}

{% block content %}
{{ super() }}

<!-- Добавьте заголовок страницы -->
<title>Login</title>

<div class="row">
    <!-- Левая колонка (Меню) -->
    <div class="col-md-2">
        {% block menu %}
        <!-- Ваше меню здесь -->
        {% endblock menu %}
    </div>

    <!-- Правая колонка (Форма) -->
    <div>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}

        <form action="{{ url_for('register_view') }}" method="post" class="form-contact">
            <p><label>E-mail:</label><input type="text" name="email" value="" required />
            <p><label>Password:</label><input type="text" name="psw" value="" required />
            <p><input type="checkbox" name="remainme"/>Remaind me</p>
            <p><input type="submit" value="Enter">
            <hr align="left" width="300px">
            <p><a href="{{url_for('register')}}">Login</a></p>
        </form>
    </div>
</div>

{% endblock content %}
