{% extends "base.html" %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<table border="0" class="profile-table">
    <tr>
        <td valign="top">
            <div class="profile-ava"><img src="{{url_for('userava_view')}}"></div>
            <div class="profile-load">
                <form action="{{ url_for('upload_view') }}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" value="Upload">
                </form>
            </div>
        </td>
        <td valign="top" class="profile-panel">
            <a href="{{ url_for('logout_view') }}">Logout</a>
            <ul class="profile-info">
                <li>Name: {{current_user.get_name() }}</li>
                <li>Email: {{current_user.get_email() }}</li>
            </ul>
        </td>
    </tr>
</table>

{% endblock content %}
